/* Colors */
$chat_input_background_purple: #7985D6;
$chat_button_purple: #383478;
$chat_background_grey: #eee;
$chat_background_purple: #7985D6;
$chat_bubble_blue: #B6ECFF;
$chat_sidebar_background: #252525;
$purple: #383478;
$white: #FFFFFF;
$pinned_post_background_grey: #E0E0E0;
$answers_light_grey: #E0E0E0;
$answers_dark_grey: #5A5A5A;

$questions_purple: #6772B7;
$chat_text_purple: #6772B7;

$message_background_purple: #EEEDFC;
$highlight_room_background_purple: #EEEDFC;
$active_users_background_purple: #EEEDFC;
$other_users_background_blue: #DFF4FC;

$border_faint_grey: #ddd;
$message_border_grey: #d3d3d3;
$star_gold: #FFD700;
