/* Colors */

/* Background Colors */
$primary_background: #d9585f;
$secondary_background: #e09ea0;
$light_background: #F5E2E3;
$chat_sidebar_background: #27353C;
$pinned_post_background: #fefefe;
$thread_active_background: #f9f9f9;
$thread_inactive_background: #efefef;
$messages_background_others: #eeeeee;

/* Text Colors */
$primary_text: #27353c;

/* Border Colors */
$border_color: #d3d3d3;

/* Landing Page */
$landing_background: #383478;
$landing_topic_border: #efefef;
$landing_topic_shadow: #cdcdcd;
