@font-face {
  font-family: "CircularPro-Book";
  src: url("../fonts/CircularPro-Book.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "CircularPro-Medium";
  src: url("../fonts/CircularPro-Medium.otf") format("opentype");
  font-weight: normal;
}

$primary_font: "CircularPro-Book";
$secondary_font : "CircularPro-Medium";
$text_font: "Helvetica Neue";
