@font-face {
  font-family: "CircularPro-Book";
  src: url("../fonts/CircularPro-Book.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "CircularPro-Medium";
  src: url("../fonts/CircularPro-Medium.otf") format("opentype");
  font-weight: normal;
}

$sidebar_list_item_font : "CircularPro-Book";
$sidebar_list_title_font : "CircularPro-Medium";
$chat_send_button_font : "CircularPro-Medium";
$navbar_chatsignal_home : "CircularPro-Medium";
$navbar_start_new_thread : "CircularPro-Book";
$new_thread_page_font: "CircularPro-Book";
