/* Sizes */
$chat_box_height: 80px;
$sidebar_width: 200px;
$username_width: 120px;
$pinned_post_height: 100px;
$votes_width: 50px;
$header_height: 50px;
$topic_height: 100px;
$welcome_chat_height: 38px;
