/* Sizes */
$chat_box_height: 80px;
$sidebar_width: 250px;
$username_width: 120px;
$pinned_post_height: 88px;
$topic_height: 80px;
$welcome_chat_height: 38px;
$bubble_border_radius: 20px;
$rooms_tab_height: 33px;
$votes_col_width: 45px;
$time_col_width: 50px;
