@import "colors";
@import "sizes";

h1 {
  text-align: center;
}

.home {

  position: relative;

  .question-header {
    padding: 20px
  }

  .ask-form {
    width: 100%;
    padding: 1px;
    height: $welcome_chat_height;

    .ask-form-button {
      background: $chat_button_purple;
      color: $white;
      font-size: 18px;
      border-width: 1px;
      padding: 10px;
      position: relative;
      left: 50%;
      top: 0px;
      width: 50%;
    }
  }
}

body {
  overflow: hidden;
}
