@import "colors";
@import "sizes";

.chat {
  .chat-form {
    background: $chat_input_grey;
    position: fixed;
    bottom: 0;
    width: calc(100% - #{$sidebar_width});
    padding: 3px;
    left: 150px;
    height: $chat_box_height;
  }

  .form-input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
  }

  .form-button {
    background: $chat_button_blue; 
    border: 0;
    padding: 10px;
    width: 9%;
    position: absolute;
    right: 1%;
    bottom: 5%;
    height: 90%;
    line-height: 50%;
  
  }

  .messages {
    position: absolute;
    left: 160px;
    top: 5px;
    overflow-y: scroll;
    height: calc(100% - #{$chat_box_height});
    width: calc(100% - #{$sidebar_width});
    vertical-align: top;
    .odd {
      background-color: $chat_background_grey;
      vertical-align: top;
    }
  }

  .side-bar {
    width: $sidebar_width;
    padding-left: 2px;
    padding-top: 2px;
    height: 100vh;
    position: fixed;
    color: $chat_sidebar_hover_periwinkle;
    background-color: $chat_sidebar_background;
  }

  .username {
    text-align: right;
  }

  .image {
    max-width: 500px;
    height: "auto";
  }

  .topic-name {
    padding: 10px;
    padding-left: 30px;
    color: $white;
    background-color: $chat_sidebar_background;
    &:hover {
      background-color: $chat_sidebar_hover_periwinkle;
    }
    border: 0px;
    border-radius: 0px;
  }

  .active {
    >span {
      background-color: $chat_sidebar_hover_periwinkle;
    }
  }

  .sidebar-room {
    &:hover {
      background-color: $chat_sidebar_hover_periwinkle;
    }
    background-color: $chat_sidebar_background;
    color: $white;
    border: 0px;
    border-radius: 0px;
  }

  .categories-header {
    background-color: $chat_sidebar_background;
    color: $white;
    font-size: 24px;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
  }

}

