@import "colors";
@import "sizes";

.chat {

  .chat-form {
    background: $chat_input_grey;
    position: fixed;
    bottom: 0;
    width: calc(100% - #{$sidebar_width});
    padding: 3px;
    left: 150px;
    height: $chat_box_height;
    overflow: scroll;
  }

  .form-input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    position: fixed;
  }

  .form-button {
    background: $chat_button_blue;
    border: 0;
    padding: 10px;
    width: 8%;
    position: fixed;
    right: 0.5%;
    bottom: 0.5%;
    height: 3%;
    line-height: 50%;
  }
}
