@import "colors";
@import "sizes";
@import "fonts";

nav {

  height: $header_height;

  &.navbar-default {
    margin-bottom: 0px;
    background-color: $purple;
    border: none;
    border-radius: 0px;
    z-index: 1;
  }
  h3 {
    &:hover{
      text-decoration: none;
    }
    color: white;
    position: absolute;
    top: -8px;

    &.chatsignal-logo {
      left: 10px;
      font-family: $navbar_chatsignal_home; 
    }

    &.newthread {
      right: 10px;
      font-family: $navbar_start_new_thread;
    }

  }

}
