@import "colors";
@import "sizes";
@import "fonts";

nav {
  height: $header_height;

  &.navbar-default {
    margin-bottom: 0;
    background-color: $primary_background;
    border: none;
    border-radius: 0;
    z-index: 1;

    .nav.navbar-nav {
      width: 100%;
    }
  }

  h3 {
    color: white;
    position: absolute;
    top: -8px;

    &:hover {
      text-decoration: none;
    }

    &.chatsignal-logo {
      left: 10px;
      font-family: $secondary_font;
    }
  }

  .newthread {
    font-family: $primary_font;
    right: 60px;
    background-color: $primary_background;
    padding: 10px;
    position: absolute;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    width: 125px;
    line-height: 10px;
    text-align: center;
  }
}
