@import "colors";
@import "sizes";

h1 {
  text-align: center;
}

.home {

  position: relative;
  width: 60%;
  top: 50%;
  transform: translateY(50%);
  left: 30%;

  .welcome-form {
    background: $chat_input_grey;
    width: 310px;
  }
  .welcome-input {
    border: 0;
    padding: 5px;
    width: 300px;
  }

  .welcome-form-button {
    background: $chat_button_blue; 
    border: 0;
    padding: 10px;
  }

}
