@import "colors";
@import "sizes";
@import "fonts";

.landing-body {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  font-family: $landing_page_font;
  // :'(
  //background-image: url(/assets/images/Logo.jpeg);

  .container {
    max-width: 950px;
    margin: 0 auto;
  }

  .purple {
    background-color: $purple;
    color: $white;
  }

  .red {
    background-color: $red;
    color: $white;
  }

  .gradient {
    background: -webkit-linear-gradient($red, white); 
    background: -o-linear-gradient($red, white); 
    background: -moz-linear-gradient($red, white); 
    background: linear-gradient($red, white); 
  }

  .skyline {
    height: 100%;
    background-image: url('/assets/images/cs-skyline-Logo.png');
    background-position: center bottom;
    background-size: cover;
    background-attachment: scroll;
  }

  .logo {
    text-align: right;
  }

  .main {
    padding-top: 50px;
    padding-bottom: 200px;

    .github-icon, .twitter-icon {
      margin-right: 10px;
    }

    .blank {
      margin: 80px 0px;
    }

    h2 {
      color: white;
    }

    h1, h3 {
      margin-top: 0;
      text-align: right;
      color: white;
    }

    .btn {
      float:right;
      margin-top: 10px;
      margin-left: 10px;
      border-radius: 4px;
      border: 0;

      &:hover{
        color: white;
        background-color: $dark;
      }

    }

  }

  .topics {
    padding: 80px 0;

    .subtitle {
      margin: 15px 0px;
    }
  }

  .description {
    padding: 140px 0;

    p {
      font-size: 18px;
      margin: 20px 0px;
    }
  }

  .bottom-login {
    padding-top: 60px;
    padding-bottom: 80px;

    h3 {
      text-align: center;
    }

    .register-button {
      margin-top: 15px;
      text-align: center;
    }
  }

  .topic {
    float: left;
    margin: 0 30px 20px;
    padding: 30px;
    border: 1px solid $landing_topic_border;
  }

  .topic-image {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    max-height: 100px;
  }

  .topic-title {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
  }
}
