@import "colors";
@import "sizes";

.center-block {
  text-align: center;
  margin-top: 200px;
  font-size: 72px
}

.subtitle {
  text-align: center;
  font-size: 36px;
}

.register-button {
  text-align: center;
}

.login-button {
  right: 35px;
  position: absolute;
  top: 35px;
}
