@import "colors";
@import "sizes";

.login-body {
  height: 100%;
  background-color: black;
  position: absolute;
  width: 100%;
  color: white;

  .center-block {
    text-align: center;
    margin-top: 175px;
    font-size: 72px;
    background: $purple;
    padding: 35px;
    border-radius: 35px;
  }

  .subtitle {
    text-align: center;
    font-size: 36px;
  }

  .register-button {
    text-align: center;
    margin-top: 20px;
    i.fa {
      float: left;
      font-size: 30px;
    }
    .login-text {
      float: left;
      margin: 3px 0px 0px 8px;
    }
  }
}
