@import "colors";
@import "sizes";

.messages-section {
  width: 50%;
  float: left;
}

.messages {

  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - #{$chat_box_height} - #{$pinned_post_height});
  width: 50%;
  vertical-align: top;

  .message-row {

    margin: 1px;
    padding: 5px;

    &.bubble {
      border-radius: $bubble_border_radius;
      max-width: 88%;
      clear: both;
      &.left {
        float: left;
        background-color: $chat_background_grey;
        &.top-bubble{
          border-bottom-left-radius: 0px;
        }
        &.middle-bubble {
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }
        &.bottom-bubble {
          border-radius: $bubble_border_radius;
          border-top-left-radius: 0px;
        }
      }
      &.right {
        float: right;
        background-color: $chat_bubble_blue;
        &.top-bubble{
          border-bottom-right-radius: 0px;
        }
        &.middle-bubble {
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
        &.bottom-bubble {
          border-radius: $bubble_border_radius;
          border-top-right-radius: 0px;
        }
        &.single-bubble {
          border-radius: $bubble_border_radius;
        }
      }
    }

    .votes {
      text-align: center;
      width: $votes_width;
      float: right;
      .vote-button {
        background-color: transparent;
        border-color: transparent;
        height: 20px;
        padding: 0px 5px;
        outline: 0;
        transform:scale(2,1); /* W3C */
        -webkit-transform:scale(2,1); /* Safari and Chrome */
        -moz-transform:scale(2,1); /* Firefox */
        -ms-transform:scale(2,1); /* IE 9 */
        -o-transform:scale(2,1); /* Opera */
      }
    }

    .username {
      text-align: right;
      width: $username_width;
      float: left;
      padding: 0px 10px;

      .profile-pic {
        max-width: 40px;
        border-radius: 20px;
      }
    }

    .chat-body {
      float: left;
      position: relative;
      width: 100%;

      .text {
        padding-right: 75px;
        white-space: pre-wrap;
      }

      img, video {
        max-width: 500px;
        padding-top: 5px;
      }

      .timestamp {
        position: absolute;
        top: 2px;
        right: 20px;
        color: gray;
        font-size: 12px;
      }
    }
  }
}

.image {
  max-width: 500px;
  height: "auto";
}

.message-group {
  width: 100%;
  overflow: auto;
  display: block;
  padding-bottom: 10px;
  &.left {
    float: left;
  }
  &.right {
    float: right;
    background-color: aliceblue;
  }
}

.profile-pic {
  max-width: 40px;
  border-radius: 20px;
  float: left;
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
  &.margin-top {
    margin-top: 9px;
  }
}
