@import "colors";
@import "sizes";
@import "fonts";

.sidebar {
  
  width: $sidebar_width;
  padding-left: 2px;
  padding-top: 2px;
  height: 100vh;
  position: fixed;
  color: $chat_sidebar_hover_periwinkle;
  background-color: $chat_sidebar_background;


  .categories-header {
    background-color: $chat_sidebar_background;
    color: $white;
    font-size: 16px;
    font-family: $sidebar_list_title_font;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
  }

  .topic-name {
    text-transform: lowercase;
    font-family: $sidebar_list_item_font;
    font-size: medium;
    padding: 3px;
    padding-left: 30px;
    color: $white;
    background-color: $chat_sidebar_background;
    &:hover {
      background-color: $chat_sidebar_hover_periwinkle;
    }
    border: 0px;
    border-radius: 0px;
  }

  .active {
    >span {
      background-color: $chat_sidebar_hover_periwinkle;
    }
  }

}