@import "colors";
@import "sizes";
@import "fonts";

$header_padding: 10px;

.nav .popup-link {
  margin-top: calc(#{$header_padding} / 2);
  margin-bottom: -10px;
  position: absolute;
  right: $header_padding;
}
.popup-link img {
  width: calc(#{$header_height} - #{$header_padding});
  border-radius: calc(#{$header_height} / 2);
}

.user-username {
  font-size: 32px;
}

.user-modal {
  display: block;
}

.user-karma {
  font-size: 24px;
}

.active-users {
  width: 50%;
  float: right;
  overflow: hidden;

  .active-users-header {
    height: 90px;
    background-color: $chat_background_purple;
    color: white;
  }

  .active-user {
    width: 50%;
    overflow: hidden;
    margin: 0 auto;

    .active-user-username {
      line-height: 40px;
      margin-left: 50px;
    }
  }
}
